.page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e35e5e;
    background-image: url('/public/bg.gif');
    background-size: cover;
    background-position: center;
    padding: 17px;
}

.timer-card {
    padding: 28px;
    border-radius: 18px;
    background: rgba(93, 113, 140, 0.17);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.12);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    display: grid;
    gap: 5px;
    max-width: 460px;
    width: 100%;
}

.title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.timer-box {
    background: rgba(159, 79, 152, 0.17);
    padding: 14px 18px;
    border-radius: 14px;
    box-shadow: 0 10px 18px rgba(0,0,0,0.35);
    font-family: monospace;
    font-size: 40px;
    letter-spacing: 2px;
}

.note {
    text-align: center;
    color: #cbd5e1;
    font-size: 0px;
}

/* КУПОНЫ — кнопки на PNG */
.coupons {
    display: grid;
    gap: 12px;
    margin-top: 10px;
}

.coupon-btn {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.coupon-btn img {
    display: block;
    width: 100%;       /* кнопка будет строго по размеру картинки по ширине контейнера */
    height: auto;      /* пропорции сохраняются */
    border-radius: 16px;
}

/* ПОЛЕ ВВОДА */
.code-input {
    width: 150px;       /* фиксированная ширина */
    max-width: 80%;     /* не выйдет за пределы модалки на узких экранах */
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #999;
    font-size: 16px;
    margin-bottom: 12px;
    box-sizing: border-box;
    outline: none;
}

.code-input:focus {
    border-color: #6e5c71;
    box-shadow: 0 0 6px rgba(110, 92, 113, 0.5);
}

/* МОДАЛКА */
.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(48, 40, 40, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 30;
}

.modal-box {
    background: #a6abb8;
    border-radius: 18px;
    padding: 22px 20px;
    max-width: 420px;
    width: 100%;
    border: 1px solid rgba(255,255,255,.15);
    box-shadow: 0 20px 40px rgba(0,0,0,.5);
}

.modal-title {
    color: #0c2a4e;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.modal-text {
    color: #142335;
    font-size: 20px;
    margin-bottom: 14px;
}

.close-btn {
    width: 100%;
    border: none;
    padding: 10px 14px;
    border-radius: 10px;
    background: #6e5c71;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 520px) {
    .timer-card { padding: 20px; }
    .title { font-size: 25px; }
    .timer-box { font-size: 28px; padding: 10px 14px; }
    .coupon-img-btn { height: 64px; }
    .code-input { width: 120px; font-size: 14px; padding: 8px 10px; }
}